.container {
  &__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1.5rem;
    &--subpage {
      display: block;
      padding: 3rem;
      background-color: $color-white;
      color: $color-dark;
    }
    .box {
      &:nth-of-type(n + 4) {
        margin-top: 3rem;
      }
      @include tablet {
        // width: calc(33.33% - 1.5rem);
      }
      @include portrait {
        width: calc(50% - 3rem);
        padding: 1.5rem;
        &:nth-of-type(n + 3) {
          margin-top: 3rem;
        }
      }
      @include mobile-lg {
        width: 100%;
        &:nth-of-type(n + 2) {
          margin-top: 3rem;
        }
      }
    }
  }
}
