.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
  background-color: $color_white;
  &__wrapper {
    @include wrapper;
    max-width: 124rem;
    padding-top: 2.3rem;
    padding-bottom: 1.3rem;
  }
  @include tablet {
    text-align: center;
  }
  img {
    width: 16rem;
  }
}
