.slider {
  display: flex;
  position: relative;
  &__slide {
    height: 100%;
  }
  //slick slider styles
  .slick-slide {
    margin: 0 1.5rem;
    > div {
      height: 100%;
    }
  }
  .slick-list {
    margin: 0 -1.5rem;
    overflow: hidden;
  }
  .slick-track {
    display: flex;
  }
  .slick-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.8rem;
    height: 4.8rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: $over-content;
    background: none;
    border-radius: 50%;
    border: none;
    transition: background-color 0.35s ease-in-out;
    @include tablet {
      width: 3.8rem;
      height: 3.8rem;
    }
    &::before {
      content: "";
      display: inline-block;
      width: 1.3rem;
      height: 2.4rem;
      background-repeat: no-repeat;
      background-size: contain;
    }
    img {
      width: 1.3rem;
      height: 2.4rem;
    }
    @include tablet {
      background-color: $color-light;
    }
    &:hover {
      cursor: pointer;
      background-color: $color-white-opacity;
    }
  }
  .slick-arrow-prev {
    left: -7rem;
    &::before {
      content: "";
      background-image: url("../img/prev_arrow.svg");
    }
    @include tablet {
      left: -1.5rem;
    }
  }
  .slick-arrow-next {
    right: -7rem;
    &::before {
      content: "";
      background-image: url("../img/next_arrow.svg");
    }
    @include tablet {
      right: -1.5rem;
    }
  }
  //slick slider styles
}
