* {
  box-sizing: border-box;
}
html {
  font-size: vw(10);
  @include tablet {
    font-size: 10px;
  }
}
body {
  font-family: $base-font;
  font-size: $base-font-size;
  line-height: $base-line-height;
  @include mobile-lg {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: $base-font-weight;
}
h1 {
  margin-bottom: 0.5rem;
  font-size: 4rem;
  line-height: 5.2rem;
  @include mobile-lg {
    font-size: 3rem;
  }
}
h2 {
  margin-bottom: 2.4rem;
  font-size: 3rem;
  line-height: 3rem;
  @include mobile-lg {
    font-size: 2rem;
  }
}
h3 {
  margin-bottom: 1.2rem;
  font-size: 2rem;
  line-height: 2.4rem;
  @include mobile-lg {
    font-size: 1.8rem;
  }
}
p {
  margin-bottom: 3.6rem;
}
